# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.so
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / outputs
*.log
*.csv
*.tmp

# If you generate local case copies
*_local*.xlsx